<div class="px-1 mx-2">
<div class="row d-flex justify-content-center ">
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Frontend</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Back End</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Cloud</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Linux</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Networking</div>

<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Ai</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Ml</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Data Science</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Cyber security</div>
<div class="col-3 col-xl-2 shadow rounded  text-center py-3 m-2" >Full stack</div>
</div>
</div>